@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#canvas_rank, #canvas_bar, #canvas_scatter {
  width: 358px;
  height: 520px;
  background-color:papayawhip;  
}
#canvas_rank {width:380px;height:570px;}
#tooltip {
  position: absolute;
  padding: 5px;
  font-size: 11px;
  border: 2px solid #21234a;
  color: #21234a;
  text-align: left;
  background-color:#fff7eb;
  border-radius: 5px;
  visibility: hidden;
  top:0;
  left:0;
}
body,.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}